#root {
width: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;

}

/*.contenedorCarrito {
  
}*/
body {
  margin-top: 0;
}

.navbar  {
  display: flex;
  
  background-color: antiquewhite;
  margin: 0px;
  
}

.navbar-nav {
  width: 50%;
  justify-content: center;
  gap: 10px;
}

.numeroBurbuja {
  
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.logoNavbar {
  width: 80px;
  object-fit: cover;
}